<div class="page-container flex-row justify-content-center align-items-center">
    <div class="landing-column">
        <h1>GentlyMusic</h1>
        <h3>Agrega, edita y elimina tu propia lista de música de forma rápida y completamente gratis</h3>
        <button class="button-primary px-5">Empezar de forma gratuita</button>
    </div>

    <div class="landing-column landing-image">
        <img class="img-fluid" src="../../../assets/images/GentlyLanding.png" alt="Gently LandingPage">
    </div>
</div>