@import "../../utils/styles/colors.scss";
@import "../../utils/styles/fonts.scss";

.page-container {
    font: $font-primary;
}

h3 {
    color: $background-color;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 22px;
    margin-bottom: 5px !important;
}

.table-div {
    background-color: $background-color;
    border: 2px solid $background-color;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.mat-icon {
    color: $color-primary;
}

.circle-center {
	align-items: center;
    background-color: #FFF;
    border-radius: 100%;
	color: #FFF;
	display: flex;
	font-size: 20px;
    font-weight: bold !important;
	height: 32px;
	justify-content: center;
	width: 32px;
}

.search-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.search-input {
    background-color: #FFF;
    border-radius: 4px;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 15px;
    min-width: 150px;
    padding: 12px 16px;
    width: 250px;
    
    input:focus {
        outline: none;
    }
}

.search-div input {
    background-color: #FFF;
    border: 0;
    width: 95%;

    &::placeholder {
        color: $color-secundary;
    }
}

.action-icon {
    color: lighten($color: $color-primary, $amount: 20);
    cursor: pointer;

    &:hover {
        color: $color-primary;
    }
}

@media all and (max-width: 700px) and (min-width: 10px) {
    .page-container {
        padding: 2px !important;
    }

    .table-div {
        min-width: 520px;
        overflow-x: auto;
    }

    .search-div, ng-container, table {
        width: 100%;
    }
}