@import "./colors.scss";

.button-primary {
    background-color: $color-primary;
    color: #FFF;
    border: 1px solid $color-primary;
    border-radius: 5px;
    padding: 13px 16px;

    &:hover {
        background-color: lighten($color: $color-primary, $amount: 10);
        cursor: pointer;
    }

    &:focus {
        background-color: lighten($color: $color-primary, $amount: 15);
    }
}

.button-secundary {
    background-color: darken($color: $background-color, $amount: 2);
    color: #000;
    border: 1px solid darken($color: $background-color, $amount: 2);
    border-radius: 5px;
    padding: 13px 16px;

    &:hover {
        background-color: $other-color-1;
        cursor: pointer;
    }
}