$background-color: #F1F8FF;
$color-font: #2E3134;
$color-primary: #4055B3;
$color-secundary: #004461;
$other-color-1: #F5F6F7;
$other-color-2: #E0E4E7;
$other-color-3: #D7E7EE;
$other-color-4: #ABB6BF;

.color-primary {
    color: $color-primary !important;
}